/*
 * SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
 *
 * SPDX-License-Identifier: MIT
 */

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.5em;
  width: 100%;

  cursor: pointer;

  .hoverIndicator {
    position: absolute;
    bottom: 1.5em;
    left: 0;

    pointer-events: none;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 0.25em;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.3);

    .hoverBar {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;

      pointer-events: none;

      background: rgba(0, 0, 0, 0.3);
    }

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;

      border-radius: 0.5em;
      background: rgba(255, 255, 255, 0.8);

      .indicator {
        background-color: white;
        border: solid 1px rgba(20, 20, 20, 0.6);
        border-radius: 50%;
        width: 0.5em;
        height: 0.5em;

        position: absolute;
        z-index: 1; // set indicator to be above the hoverBar
        right: 0;
        margin-right: -0.25em;
        top: 50%;
        transform: translateY(-50%);

        pointer-events: none;
      }
    }

    .adBreakContainer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;

      .marker {
        position: absolute;
        width: 5px;
        margin-left: -2.5px;
        height: 100%;
        background-color: orange;
        border-radius: 50%;
        pointer-events: none;
      }
    }
  }
}
