/*
 * SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
 *
 * SPDX-License-Identifier: MIT
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  opacity: 0;
  animation: fadeIn forwards;
  animation-delay: 400ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bottomContainer {
    transition: opacity 100ms ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &.hidden {
      cursor: none;
      opacity: 0;
    }
  }

  .controls {
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.6);
  }

  .buttons {
    display: flex;
  }
  .buttons > * {
    margin-right: 0.5em;
  }

  .menuButtons {
    display: flex;
    margin-right: 0;
  }

  .menuButtons > * {
    margin-right: 0.5em;
  }

  .buttons svg {
    padding: 0.25em;
    &:hover {
      background-color: #323844;
      border-radius: 0.25em;
      transform: scale(1.1);
    }
  }
  .divider {
    flex: 1;
  }

  google-cast-launcher {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    padding: 0.25em;
    &:hover {
      background-color: #323844;
      border-radius: 0.25em;
      transform: scale(1.1);
    }
  }
}
