/*
 * SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
 *
 * SPDX-License-Identifier: MIT
 */

.container {
  display: flex;

  &.noSlider {
    .buttonContainer {
      margin-right: 0;
    }
  }
}

.buttonContainer {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0.8);
    &:hover {
      fill: rgba(255, 255, 255, 1);
    }
  }
}

.volumeContainer {
  display: flex;
  align-items: center;
  padding: 0.25em;

  width: 0;
  opacity: 0;

  transition: width linear 100ms, opacity linear 100ms;

  &.open {
    width: 4em;
    opacity: 1;
  }
}
