/*
 * SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
 *
 * SPDX-License-Identifier: MIT
 */

.buttonContainer {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0.8);
    &:hover {
      fill: rgba(255, 255, 255, 1);
    }
  }
}
