/*
 * SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
 *
 * SPDX-License-Identifier: MIT
 */

.container {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.container svg:hover {
  fill: rgba(255, 255, 255, 1);
}
